nav {
  display: flex;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  color: var(--primary);
  font-weight: 600;
  text-transform: capitalize;
  transition: var(--transition);
  z-index: 1000;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-credentials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-auth button {
  padding: 10px 20px;
  background-color: var(--primary);
  border: none;
  color: #fff;
  border-radius: var(--border-radius);
}

.nav-auth button:hover {
  padding: 10px 20px;
  background-color: var(--primary);
  border: none;
  color: #fff;
  border-radius: 10px;
}

.nav-mobile-icon {
  display: none;
}

.close-button {
  display: none;
}

@media (max-width: 768px) {
  nav {
    padding: 0 40px;
  }

  .nav-mobile-icon {
    display: flex;
    font-size: 30px;
  }

  .nav-list {
    position: fixed;
    background-color: #fff;
    flex-direction: column;
    top: 0;
    right: 0;
    justify-content: center;
    height: 100%;
    width: 70%;
    margin-left: 30%;
    border-radius: var(--border-radius);
    transform: translateX(0%);
    display: flex;
    transition: var(--transition);
    flex-direction: column-reverse;
  }

  .nav-hidden {
    transform: translateX(100%);
  }

  .nav-auth {
    height: 10%;
    gap: 0;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  .close-button {
    display: flex;
    font-size: 20px;
  }

  .nav-main {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .nav-auth button {
    padding: 8px 12px;
  }

  .nav-credentials {
    gap: 10px;
  }

}
