nav {
  display: flex;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  color: var(--primary);
  font-weight: 600;
  text-transform: capitalize;
  transition: var(--transition);
}

.nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-auth button {
  padding: 10px 20px;
  background-color: var(--primary);
  border: none;
  color: #fff;
  border-radius: var(--border-radius);
}

.nav-auth button:hover {
  padding: 10px 20px;
  background-color: var(--primary);
  border: none;
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 768px) {
  nav {
    padding: 0 40px;
    position: fixed;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 70%;
    margin-left: 30%;
    border-radius: var(--border-radius);
    transform: translateX(0%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px)
  }

  .nav-mobile-icon {
    font-size: 30px;
  }

  .nav-hidden {
    /* transform: translateX(100%); */
  }

  .nav-logo{
    margin-bottom: 50%;
  }

  .nav-main{
    margin-bottom: 100%;
    flex-direction: column;
  }

  .nav-user {
    display: none;
  }

  .nav-auth{
    
  }
  
}
